//color
$black: #333333;
$dark-gray: #444444;
$gray: #666666;
$light-gray: #eeeeee;
$light-gray-d1: #e5e5e5;
$white: #fff;

//font-family
$noto-font: 'Noto Sans JP', 'Noto Sans Japanese', 'Noto Sans CJK JP',
  'Source Sans Pro', sans-serif;
$font-regular: 400;
$font-bold: 700;
